.status {
  margin: 1rem 0;
  border: solid 1px var(--border);
  background-color: var(--bg);
  padding: 1em;
  border-radius: 0.25rem;
}

.status-bad {
  --border: hsla(0, 100%, 80%, 1);
  --bg: hsla(0, 100%, 95%, 1);
}

.status-good {
  --border: hsla(120, 100%, 80%, 1);
  --bg: hsla(120, 100%, 95%, 1);
}
